In [9]:
from gtable import Table
from gtable.joins import inner_join, full_outer_join
import numpy as np

t1 = Table()
t1.add_column('a', [1, 2, 2, 3, 3, 4, 5, 6])
t1.add_column('b', [1, 2, 3])

t2 = Table()
t2.add_column('a', [2, 3, 4])
t2.add_column('b', [1, 1, 1])
t2.add_column('c', [5, 6, 7])

In [2]:
t3 = inner_join(t1, t2, 'b')

In [3]:
t3.data

[array([1, 1, 1]), array([5, 6, 7]), array([1, 1, 1])]

In [4]:
%load_ext snakeviz

In [5]:
%%snakeviz
inner_join(t1, t2, 'b')

*** Profile stats marshalled to file '/tmp/tmppjr73ajv'.

In [6]:
df1 = t1.to_pandas()
df2 = t2.to_pandas()

In [7]:
df1

   a    b
0  1  1.0
1  2  2.0
2  2  3.0
3  3  NaN
4  3  NaN
5  4  NaN
6  5  NaN
7  6  NaN

In [ ]:
t4 = full_outer_join(t1, t2, 'a')